<div class="nested-fields">
  <div class='input-group'>
    <label for='ingredient_name'>
    <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name_with_unit_type) %>
    <p class='error-span'><%= f.errors_for(:recipe_id) %></p>
  </div>
  <div class='input-group'>
    <label for='unit_amount'>
    <%= f.text_field :unit_amount %>
    <p class='error-span'><%= f.errors_for(:unit_amount) %></p>
  </div>
  <%= link_to_remove_association "-", f, class: 'btn btn-danger' %>
</div>
