<div class='container wrapper'>
  <div class='row'>
    <div class='col-md-offset-3 col-md-6 col-md-offset-3'>
      <%= form_for @recipe, html: { multipart: true } do |form| %>
        <div class='form-group field-height'>
          <label for='name'>Recipe name</label>
          <%= form.text_field :name, class: 'form-control' %>
          <span class='error-span'><%= @recipe.errors[:name].join(', ') %></span>
        </div>
        <div class='form-group field-height'>
          <label for='unit type'>Instructions</label>
          <%= form.text_field :instructions, class: 'form-control' %>
          <span class='error-span'><%= @recipe.errors[:instructions].join(', ') %></span>
        </div>
        <div class='form-group field-height'>
          <label for='image'>Recipe Image</label>
          <%= form.file_field :image %></br>
          <span class="error-span"><%= @recipe.errors[:image].join(', ') %></span>
        </div>
        <%= form.fields_for :recipe_ingredients do |rec_ing| %>
          <%= render "recipe_ingredient_fields", f: rec_ing %>
        <% end %>
        <div><%= link_to_add_association '+', form, :recipe_ingredients, class: 'btn btn-primary' %></div></br>
        <%= form.submit 'Save' %>
      <% end %>
    </div>
  </div>
</div>
