<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center; padding: 2rem">
      <div class="card" style="width: 20rem;">
        <%= image_tag "recipes.png", class: "card-img-top", style: "width: 100%" %>
        <div class="card-body">
          <h4 class="card-title"><%= Recipe.find(3).name %></h4>
          <p class="card-text"><%= Recipe.find(3).instructions %></p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="text-align: center; padding: 2rem">
      <div class="card" style="width: 20rem;">
        <%= image_tag "recipes.png", class: "card-img-top", style: "width: 100%" %>
        <div class="card-body">
          <h4 class="card-title"><%= Recipe.find(3).name %></h4>
          <p class="card-text"><%= Recipe.find(3).instructions %></p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="text-align: center; padding: 2rem">
      <div class="card" style="width: 20rem;">
        <%= image_tag "recipes.png", class: "card-img-top", style: "width: 100%" %>
        <div class="card-body">
          <h4 class="card-title"><%= Recipe.find(3).name %></h4>
          <p class="card-text"><%= Recipe.find(3).instructions %></p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="text-align: center; padding: 2rem">
      <div class="card" style="width: 20rem;">
        <%= image_tag "recipes.png", class: "card-img-top", style: "width: 100%" %>
        <div class="card-body">
          <h4 class="card-title"><%= Recipe.find(3).name %></h4>
          <p class="card-text"><%= Recipe.find(3).instructions %></p>
          <a href="/recipes/:id" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" style="text-align: center; padding: 2rem">
      <div class="card" style="width: 20rem;">
        <%= image_tag "recipes.png", class: "card-img-top", style: "width: 100%" %>
        <div class="card-body">
          <h4 class="card-title"><%= Recipe.find(3).name %></h4>
          <p class="card-text"><%= Recipe.find(3).instructions %></p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
  </div>
</div>
