<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="recipe-img-box">
        <%= image_tag "recipes.png", class: "img-fluid img-thumbnail"%>
        <h1 class="recipe-name"><%= @recipe.name %></h1>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope='col'></th>
          </tr>
        </thead>
        <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <tbody>
          <tr>
            <td><%= recipe_ingredient.name %></td>
            <td><%= recipe_ingredient.unit_amount %> <%= recipe_ingredient.unit_type %></td>
            <td><%= link_to 'Delete Ingredient', recipe_recipe_ingredient_path(@recipe, recipe_ingredient), remote: true, method: :delete, class: 'delete_rec_ing' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= link_to 'Add Ingredient', new_recipe_recipe_ingredient_path(@recipe, @recipe_ingredient), type: 'button', class: 'btn btn-primary' %>
    </div>
    <div class="col-md-6">
      <div class="desc-box">
        <h2>Description</h2>
        <p><%= @recipe.instructions %></p>
      </div>
    </div>
  </div>
  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary", type: "edit" %>
</div>
