<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="recipe-img-box">
        <%= image_tag "recipes.png", class: "img-fluid img-thumbnail"%>
        <h1 class="recipe-name"><%= @recipe.name %></h1>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <% @recipe.recipe_ingridients.each do |recipe_ingridient| %>
        <tbody>
          <tr>
            <td><%= recipe_ingridient.name %></td>
            <td><%= recipe_ingridient.unit_amount %> <%= recipe_ingridient.unit_type %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-md-6">
      <div class="desc-box">
        <h2>Description</h2>
        <p><%= @recipe.instructions %></p>
      </div>
    </div>
  </div>
  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary", type: "edit" %>
</div>
