<div class='container wrapper'>
  <div class='row'>
    <div class='col-md-offset-3 col-md-6 col-md-offset-3'>
      <%= link_to 'Add ingredient', new_ingredient_path, class: 'btn btn-default mb-5', type: 'new' %>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Unit Type</th>
            <th scope='col'>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @ingredients.each do |ingredient| %>
          <tr>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.unit_type %></td>
            <td>
              <%= link_to 'Edit', edit_ingredient_path(ingredient), class: 'btn btn-primary', type: 'edit' %>
              <%= link_to 'Delete', { action: :destroy, id: ingredient.id }, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
